.quotes {
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 35ch;
}
.quote-text {
  font-size: 2rem;
  color: var(--COLOR-WHITE);
}

.quote-author {
  font-size: 1.5rem;
  color: var(--COLOR-WHITE);
  font-style: italic;
}
